<div class="inner">
    <a href="{{adLink}}" class="pic"><img src="{{imageUrl.pic.url}}"></a>
    <div class="info-box">
        <div class="title"><i class="iconfont-v2">&#xe625;</i>
            <a href="{{adLink}}">{{imageUrl.text1.despriction}}</a>
        </div>
        <p class="info">
            <a href="{{adLink}}" class="name">{{imageUrl.text2.despriction}}</a>
            <a href="{{adLink}}" class="pull-right">{{imageUrl.text3.despriction}}</a>
        </p>
    </div>
</div>
<!-- 公司品牌广告位 -->
