<!-- 公司品牌广告位 -->
<a class="cell" href="{{adLink}}">
  	<div class="inner">
    	<div class="pic"><img src="{{imageUrl.pic.url}}">
      		<div class="bg-black"></div>
      		<div class="heading"><i class="iconfont">&#xe6aa;</i><span class="tit">{{imageUrl.text1.despriction}}</span></div>
    	</div>
    	<div class="info"><span>{{imageUrl.text2.despriction}}</span></div>
  	</div>
</a>
<a href="{{adLink}}" class="checkmore">{{imageUrl.text3.despriction}}</a>
