<li class='zixun-li global-clearfix'>
    <div class="zixun-cover">
        <a href="{{ adLink }}" target="_blank">
            <img class="zixun-cover-img" src="{{ imageUrl.pic.url }}" />
        </a>
    </div>
    <div class="zixun-info">
        <h3 class="zixun-info-h">
            <p>
                <a href="{{ adLink }}" target="_blank">
                    {{ imageUrl.text1.despriction }}
                </a>
            </p>
        </h3>
        <p class="zixun-date">
            {{ imageUrl.text2.despriction }}
        </p>
    </div>
</li>
